# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Environment variable files
.env

# Editor-specific settings
.vscode/
.idea/

# OS-specific junk files
.DS_Store
Thumbs.db

# Log files
*.log
logs/
