# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
env/
venv/
.venv/

# Ignore editor-specific files
.vscode/
.idea/

# OS junk files
.DS_Store
Thumbs.db

# Ignore log files
*.log
logs/